/* =============================================== */
/* Base reset & style ============================ */
/* =============================================== */

html {
    font-size: 16px;
    box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body, h1, h2, h3, h4, h5, h6, p, ol, ul, form {
  margin: 0 auto;
  padding: 0;
  font-weight: normal;
}

p {
  font-size: 16px;
  text-align: center;
  padding: 10px 0px 10px;
  height: 40px;
}

ol, ul {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}

body {
  font-family: 'Open Sans';
  margin: 0 auto;
  height: 100vh;
  display: flex;
  justify-content: center;
}

/* =============================================== */
/* Main styles =================================== */
/* =============================================== */

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 100px;
}

form {
  padding: 40px 0px 40px;
}

.submitButton {
  width: 150px;
  height: 40px;
  border-radius: 4px;
  border: none;
  background: powderblue;
  cursor: pointer;;
}

.submitButton:hover {
  background: skyblue;
}

.restartButton {
  width: 150px;
  height: 40px;
  visibility: hidden;
  margin-top: 40px;
  align-self: center;
  cursor: pointer;
  border: 1px solid red;
  background-color: white;
  border-radius: 4px;
  color: red;
}

.restartButton:hover {
  background-color: red;
  border-radius: 4px;
  color: white;
}

h1 {
  text-align: center;
}

